<h1>Home#show</h1>
<p>Find me in app/views/home/show.html.erb</p>
<% if session[:user_id] %>
<% @user = User.find(session[:user_id]) %>
  <% if @user.friends.length != 0 %>
    <p>Friends list:</p>
    <% @user.friends.each do |x| %>
      <p><a href="/users/<%= @user.id%>/friends/<%= x.id%>"><%= x.name %></a></p>
    <% end %>
  <% else %>
    <p>You don't have any friends</p>
  <% end %>
<% end %>
