<h1>Home#show</h1>
<% if session[:user_id] %>
<% @user = User.find(session[:user_id]) %>
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav">
              <li class="active"><a href="#"><%= @user.name %></a></li>
              <li><a href="#">New Trip</a></li>
              <li><a href="#">Friends</a></li>
            </ul>
        </div>

  <% if @user.friends.length != 0 %>
    <p>Friends list:</p>
    <% @user.friends.each do |x| %>
      <p><a href="/users/<%= @user.id%>/friends/<%= x.id%>"><%= x.name %></a></p>
    <% end %>
  <% else %>
    <p>You don't have any friends</p>
  <% end %>






<% end %>
