/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
  /*border: 1px solid red;*/
 }
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100vh;
  width: 100%;
  float: right;
  transition: width .5s
}
.map-container {
  float: left;
  width: 100%;
}
#sidebar {
  background-color: white;
  height:100%;
  width: 300px;
  float: left;
  word-wrap: break-word;
  overflow: scroll;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 0px 15px #bdbdbd;
  transition: width .5s;
}
.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 25%;
  position: absolute;
  left: 300px !important;
}

.controls:focus {
  border-color: #4d90fe;
}

.confirmation{
  padding-left: 10px;
  font-weight: 400;
}

.declination{
  padding-left: 10px;
  font-weight: 400;
}
/*@media screen and (max-width: 1403px) and (min-width: 1100){
  #map {
    width: 78%
  }
  #sidebar {
    width: 22%
  }
}
@media screen and (max-width: 1265px) {
  #map {
    width: 75%
  }
  #sidebar {
    width: 25%
  }
}
@media screen and (max-width: 1196px) {
  #map {
    width: 80%
  }
  #sidebar {
    width: 20%
  }
  #trips-header {
    width: 120px;
  }
}*/
/* ----------- Retina Screens ----------- */
/*@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
}*/
