@import url('https://fonts.googleapis.com/css?family=Roboto|Fjalla+One|Fugaz+One|Kaushan+Script|Lobster');
$blue: #1e88e5;
$ocean-blue: #A3CCFF;
$purple: #2E3192;
$green: #0B9444;
@mixin blue-border-bottom {
  border-bottom: 2px solid $ocean-blue;
}
@keyframes bounce {
  from {
    margin-top: 7px
  }
  to {
    margin-top: 1px;
  }
}
#sign_out {
  // margin-top: -25px;
  margin-top: 2.5px;
  margin-right: 5px;
  float: right;
  text-decoration: none;
  color: $purple;
  &:hover {
    color: $green
  }
}
.login{
  /* border: 1px solid black; */
  font-family: Roboto;
  position: absolute;
  right: -123.5px;
  top: -30.5px;
  padding: 5px 5px 5px 5px;
  transform: scale(0.5);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Roboto;
    &#friends, &#user-trips {
      li {
        padding-left: 30px;
      }
    }
    li {
      a {
        display: block;
        color: $purple;
        text-decoration: none;
        &.trip-name {
          display: inline;
          font-size: 1.15em;
          padding-right: 10px;
        }
      }
      &#friend-list {
         padding-bottom: 6px;
      }
      &#trips-title, &#friend-list {
        padding-top: 6px;
        // width: 100%;
        a {
          display: block;
          font-size: 1.4em;
          font-weight: 400;
          color: $purple;
        }
      }
    }
}
#user-home, #trips-section {
  padding: 0;
}
#sidebar {
  img {
    width: 100%;
    transform: scale(.7);
  }
}
.divider {
  height: 1px;
  width: 0.5%;
  margin: 0 auto;
  background-color: $green;
  margin-top: 5px;
  margin-bottom: 10px;
}
#nav {
  // box-shadow: 0px 1px 5px #d2d2d2;
  li {
    padding: 0px 10px 0px 10px;
    h1 {
      margin: 0;
      font-weight: normal;
      font-size: 1em;
    }
  }
}
#trips-list {
  // font-size: .7em;
  li {
    a {
      &#all-trips {
        .fa-sort-desc {
          font-size: .95em;
        }
        padding-right: 6px;
        @include blue-border-bottom;
      }
      &#trip-add-link {
        padding-bottom: 0;
      }
    }
  }
}
#trips-title {
  &:hover {
    // background-color: $ocean-blue;
  }
  a {
    font-family: Roboto;

    padding-top: 0;
    padding-bottom: 0;
  }
}
#trips-header, #tip-header {
  display: inline-block;
  width: 90%;
  position: relative;
  z-index: 0;
  font-size: 1.4em;
}
#trip-template {
  margin-top: 5px;
}
#user-trips {
  opacity: 0;
  transition: all .5s ease;
  .trip-items {
    padding-top: 5px;
    padding-bottom: 5px;
    &:hover {
      background-color: #f5f5f5;
    }
    .trip-map {
      padding-right: 10px;
      font-size: 1.15em;
    }
  }
  // & li:nth-child(3) {
  //   margin-top: 20px;
  // }
  form {
    padding: 5px 0px 15px -5px;
    // margin-bottom: 20px;
    #trip_name {
      font-size: 1em;
      width: 85%;
      display: inline;
      padding: 6px 0px 6px 6px;
      border-style: solid;
      border-radius: 5px;
      border: 1px solid #2E3192;
      margin-top: 8px;
      &:focus {
        outline: none;
        border: 1px solid $purple;
      }
    }
    input[type=submit] {
      // width: 40px;
      vertical-align: middle;
      height: 25px;
      background-color: white;
      border-radius: 5px;
      font-size: 1em;
      // padding: 0;
      // margin-top: 5px;
    }
  }
}
#private-check {
  transform: scale(.8);
  margin-left: -28px;
}
.trip-map, .trip-update, .trip-delete, .tip-section-close {
  display: inline
}
#friends {
  li {
    h4 {
      margin-top: 10px;
      /* border-bottom: 1px solid #0B9444; */
      padding-bottom: 5px;
      font-size: 1.5em;
      margin-bottom: 3px;
    }

  }
}
#pending {
  padding-left: 20px;
  margin-bottom: 20px;
  max-width: 280px;
  // border-bottom: 1px solid #a5d6a7;
  #request-count {
    font-size: .55em;
    margin-left: 10px;
    border: 1px solid black;
    padding: 1px 4px 1px 4px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    transition: all .8s ease;
    animation-duration: .8s;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  h4 {
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 3px;
  }
  li {
    .confirmation:hover {
      color: $green;
    }
    .declination:hover {
      color: #e53935;
    }
    .confirmation, .declination {
      display: inline;
      padding-left: 0;
      padding-right: 8px;
    }
    &.pending-request {
      padding-top: 5px;
      padding-bottom: 10px;
      border-bottom: 1px solid #e0e0e0;
      width: 85%;
    }
    p {
      margin-top: 5px;
      margin-bottom: 0;
      a {
        font-size: 1.15em;
      }
    }
  }
}
#pending-request-header {
  cursor: pointer;
  transition: all .5s ease;
  &:hover {
    color: $purple;
    transform: scale(1.05);
  }
}
#friends {
  opacity: 0;
  transition: all .5s ease;
}
#friends-header {
  display: inline-block;
  width: 95%;
  position: relative;
  z-index: 0;
  font-size: 1.4em;
}
#search_name {
  font-size: 1em;
  width: 220px;
  display: inline;
  padding: 5px 0px 6px 25px;
  border-style: solid;
  border-radius: 5px;
  border: 1px solid #2E3192;
  margin-top: 3px;
  margin-left: 18px;
  max-width: 300px;
  &:focus {
    outline: none;
    border: 1px solid $purple;
  }
}
#friend-name {
  // box-shadow: 0px 3px 1px #d2d2d2;
  padding-bottom: 3px;
  a {
    font-size: 1.15em
  }
}
.unsent, .sent {
  padding-left: 20px;
}
.friend-trips {
  padding: 0px 1px 10px 21px;
  max-width: 79%;
  li {
    font-weight: 300;
    a {
      width: 100%;
    }
  }
}
#friends-section {
  p {
    text-align: center;
    font-weight: 300;
  }
}
#friend-list {
  a {
  }
}
.hidden {
  display: none;
}
.add-trip-button, .add-friend-button {
  background-color: transparent;
  border: none;
  font-size: .7em;
  width: 30%;
  color: $purple;
  float: right;
  opacity: 0;
  transition: opacity, .5s;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none
  }
}
.add-trip-submit {
  width: 10%;
  font-size: 25px;
  float: none;
  border: none;
  vertical-align: bottom;
  background-color: white;
  color: $purple;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none
  }
}
.add-trip-opacity-animation, .add-friend-opacity-animation {
  opacity: 1;
}
.fa-sort-desc {
  float: right;
  margin-top: 4px;
  height: 25px;
}
.fa-rotate-180 {
  margin-top: 12px
}
.fa-sort-asc {
  margin-top: 12px
}
.fa-times {
  font-size: 1.05em;
  padding-right: 10px;
  color: #e53935;
}
.fa-pencil, .fa-times {
  float: right;
  padding-left: 5px;
  padding-top: 3px;
}
.trip-delete .fa-trash {
  padding-left: 5px;
}
.tip-delete .fa-trash {
  padding-left: 5px;
}
.trip-update .fa-pencil {
  font-size: 1em;
  color: #03a9f4;
}
#search-close {
  font-size: .9em;
  position: absolute;
  top: -2px;
  right: 12px;
  color: black;
  background-color: white;
  cursor: pointer;
}
#friend-search-icon {
  position: absolute;
  top: 9px;
  right: 240px;
  color: $purple;
}
.t-underline, .f-underline {
  width: 0%;
  height: 1px;
  background-color: $green;
  transition: width .5s, opacity .5s;
  opacity: 0;
  margin: 0 auto;
  margin-top: 4px;
}
.underline-animation {
  opacity: 1;
  width: 100%
}
.wrapper {
  position: relative;
}

#tip-header {
  color: #2E3192;
  font-size: 1.4em;
  cursor: pointer;
}
// .rotate-fa {
//   -ms-transform: rotate(90deg); /* IE 9 */
//   -webkit-transform: rotate(90deg); /* Safari */
//   transform: rotate(90deg);
//   margin-right: -5px;
// }

// notes:
//   -click add trip button to make input field visible
//   -make drop down arrow change direction when dropdown is open...if that makes sense
//   -when dropdown is clicked change background color of header( friends for example )
//   -i don't think the trips dropdown should be accessed from clicking the name?
//     shouldn't it be it's own li and dropdown??
//   -definitely need more to fill space on sidebar, logo or more content
//   -colors are all placeholder, sidebar color could probably be changed instead of being white
